[user]
  name = Jerome Giudicelli
  email = jayrom@gmail.com
[color]
  ui = true
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  p = pull
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[apply]                                                                                                                                 │Started GET "/users/" for 10.10.10.194 at 2013-03-25 15:51:04 -0400                                                                                            
  whitespace = nowarn
[core]
  editor = vim
