[user]
  name = Jerome Giudicelli
  email = jayrom@gmail.com
[color]
  ui = true
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  p = pull
  ph = push origin HEAD
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[apply]
  whitespace = nowarn
[core]
  editor = vim
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[github]
	user = jgiudicelli
