source-file ~/.tmux.conf
new-session -s development -n server -d
new-window -n rails -t development
new-window -n db -t development
send-keys -t development:1 'cd ~/projects' C-m
send-keys -t development:2 'cd ~/projects' C-m
send-keys -t development:3 'cd ~/projects' C-m
select-window -t development:2
send-keys -t development:2 'sad' C-m
